scripts/n8n/Automatic creation of credentials in N8N.json
{
  "name": "Automatic creation of credentials in N8N",
  "nodes": [
    {
      "parameters": {
        "path": "autorizacao/:business_name/:type_scope/:status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1300,
        -440
      ],
      "id": "3a9e13f6-fced-4d3d-af59-7fce86e8a89e",
      "name": "Webhook",
      "webhookId": "7e76ee22-7a49-4318-b1e1-cadf89aae84f"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>{{ $json.displayName }}</title>\n  <link rel=\"icon\" type=\"image/png\" href=\"{{ $json.iconUrl }}\">\n  <script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap\" rel=\"stylesheet\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    :root {\n      --primary-color: #25d366;\n      --gradient: linear-gradient(90deg,#43cea2 0%,#185a9d 100%);\n      --card-radius: 24px;\n      --shadow: 0 8px 32px rgba(60,72,100,0.13), 0 1.5px 8px rgba(60,72,100,0.09);\n      --header-bg: #fff;\n      --bg: #f7f8fc;\n      --title-color: #185a9d;\n      --text-color: #23272f;\n      --subtitle-color: #586174;\n      --success: #20c787;\n      --error: #e94242;\n      --verify: #ffad1d;\n      --card-padding: 40px 34px 34px 34px;\n    }\n    [data-theme=\"dark\"] {\n      --header-bg: #23262b;\n      --bg: #191b1f;\n      --title-color: #59a2e7;\n      --text-color: #e4e7ee;\n      --subtitle-color: #aeb7c1;\n    }\n    body {\n      margin: 0;\n      padding: 0;\n      background: var(--bg);\n      font-family: 'Inter', Arial, sans-serif;\n      min-height: 100vh;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n    }\n    .header-app {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      width: 100%;\n      max-width: 480px;\n      margin: 38px 0 36px 0;\n      padding: 20px 32px;\n      background: var(--header-bg);\n      border-radius: 18px;\n      box-shadow: var(--shadow);\n      gap: 22px;\n    }\n    .header-left {\n      display: flex;\n      align-items: center;\n      gap: 18px;\n      min-width: 0;\n    }\n    .logo-app {\n      min-width: 44px;\n      min-height: 44px;\n      width: 44px;\n      height: 44px;\n      background: var(--primary-color);\n      border-radius: 13px;\n      box-shadow: 0 2px 10px rgba(37, 211, 102, 0.10);\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      overflow: hidden;\n    }\n    .logo-app img {\n      width: 28px;\n      height: 28px;\n      display: block;\n      object-fit: contain;\n    }\n    .header-titles {\n      display: flex;\n      flex-direction: column;\n      min-width: 0;\n    }\n    .app-title {\n      font-size: 1.18rem;\n      font-weight: 700;\n      color: var(--text-color);\n      line-height: 1.13;\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n    }\n    .app-subtitle {\n      font-size: 0.96rem;\n      color: var(--subtitle-color);\n      font-weight: 400;\n      margin-top: 2px;\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n    }\n    .header-actions {\n      display: flex;\n      gap: 10px;\n      align-items: center;\n    }\n    .action-btn {\n      background: #f6f6f8;\n      border: 1.5px solid #edeef0;\n      border-radius: 11px;\n      width: 38px;\n      height: 38px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      cursor: pointer;\n      font-size: 1.18rem;\n      transition: background 0.18s, border 0.18s;\n      color: #23272f;\n      outline: none;\n    }\n    [data-theme=\"dark\"] .action-btn {\n      color: #e5e6e9;\n      background: #23262b;\n      border-color: #353944;\n    }\n    .action-btn:hover {\n      background: #e4f6ed;\n      border-color: #d3f5e3;\n    }\n    [data-theme=\"dark\"] .action-btn:hover {\n      background: #1c232a;\n      border-color: #25d366;\n    }\n    .main-card {\n      background: #fff;\n      border-radius: var(--card-radius);\n      box-shadow: var(--shadow);\n      padding: var(--card-padding);\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      width: 100%;\n      max-width: 480px;\n      margin: 34px 0;\n      transition: background 0.2s;\n      text-align: center;\n      position: relative;\n    }\n    [data-theme=\"dark\"] .main-card {\n      background: #23262b;\n    }\n    .brand-logo {\n      border-radius: 16px;\n      margin: 0px auto 18px auto;\n      padding: 10px 32px 8px 32px;\n      min-width: 190px;\n      min-height: 74px;\n      max-width: 290px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      box-shadow: 0 4px 22px rgba(40, 60, 120, 0.09);\n    }\n    .brand-logo img {\n      height: 56px;\n      margin-right: 8px;\n      margin-left: -10px;\n    }\n    .brand-logo span {\n      font-size: 2.5rem;\n      font-weight: 700;\n      font-family: 'Pacifico', cursive;\n      color: #3370b8;\n      margin-left: 10px;\n      letter-spacing: 1px;\n    }\n    .main-title {\n      color: #185a9d;\n      font-weight: 700;\n      font-size: 1.24rem;\n      margin-bottom: 18px;\n      margin-top: 10px;\n      line-height: 1.2;\n    }\n    .main-desc {\n      color: var(--text-color);\n      font-size: 1.08rem;\n      margin-bottom: 28px;\n      line-height: 1.5;\n      font-weight: 400;\n    }\n    .main-btn {\n      padding: 18px 0;\n      width: 85%;\n      max-width: 350px;\n      font-size: 1.15em;\n      font-weight: 700;\n      background: var(--gradient);\n      color: #fff;\n      border: none;\n      border-radius: 999px;\n      cursor: pointer;\n      box-shadow: 0 2px 10px rgba(67,206,162,0.07);\n      transition: background 0.19s, transform 0.14s;\n      margin: 0 auto;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      gap: 12px;\n    }\n    .main-btn:hover {\n      background: linear-gradient(90deg,#185a9d 0%,#43cea2 100%);\n      transform: translateY(-2px) scale(1.03);\n    }\n    .main-btn .arrow {\n      font-size: 1.3em;\n      margin-left: 10px;\n      transition: margin 0.2s;\n    }\n    .main-btn:hover .arrow {\n      margin-left: 16px;\n    }\n    /* Alerta Dinâmico */\n    .main-alert {\n      width: 90%;\n      max-width: 350px;\n      margin: 0 auto 20px auto;\n      border-radius: 12px;\n      font-size: 1.14em;\n      font-weight: 600;\n      padding: 14px 22px;\n      box-shadow: 0 2px 10px rgba(40,60,100,0.06);\n      display: flex;\n      align-items: center;\n      gap: 6px;\n      position: relative;\n      text-align: left;\n      min-height: unset;\n    }\n    .main-alert.sucesso {\n      background: rgba(255,255,255,0.97);     /* Deixe quase branco até no dark */\n      border: 2px solid #20c787;\n      color: #14b47e;\n    }\n    .main-alert.sucesso::before {\n      content: '✅';\n      position: absolute;\n      left: 16px;\n      font-size: 1.4em;\n    }\n    .main-alert.erro {\n      background: #fff7f7;\n      border: 2px solid #ffd3d7;\n      color: var(--error);\n    }\n    .main-alert.erro::before {\n      content: '❌';\n      position: absolute;\n      left: 16px;\n      font-size: 1.4em;\n    }\n    .main-alert.verify {\n      background: #fffdf4;\n      border: 2px solid #ffe6ad;\n      color: var(--verify);\n    }\n    .main-alert.verify::before {\n      content: '🔎';\n      position: absolute;\n      left: 16px;\n      font-size: 1.4em;\n    }\n    .main-alert.none {\n      display: none;\n    }\n    /* Modal */\n    .modal-bg {\n      position: fixed;\n      z-index: 9999;\n      inset: 0;\n      background: rgba(0,0,0,0.35);\n      display: none;\n      align-items: center;\n      justify-content: center;\n    }\n    .modal-bg.active { display: flex; }\n    .modal-content {\n      background: #fff;\n      border-radius: 20px;\n      padding: 36px 38px;\n      min-width: 320px;\n      max-width: 95vw;\n      box-shadow: var(--shadow);\n      text-align: left;\n      color: #233;\n      font-size: 1.12em;\n    }\n    .modal-content label {\n      font-weight: 700;\n      color: #1a305d;\n      margin-bottom: 7px;\n      display: block;\n    }\n    .modal-content input {\n      border: 1.7px solid #c2d7ed;\n      border-radius: 9px;\n      padding: 10px 12px;\n      font-size: 1.07em;\n      margin-bottom: 20px;\n      width: 95%;\n      display: block;\n      margin-top: 7px;\n    }\n    .modal-actions {\n      margin-top: 10px;\n      text-align: right;\n    }\n    .modal-actions button {\n      background: #185a9d;\n      color: #fff;\n      padding: 10px 24px;\n      border: none;\n      border-radius: 9px;\n      cursor: pointer;\n      font-weight: 600;\n      margin-left: 8px;\n    }\n    @media (max-width: 700px) {\n      .header-app, .main-card { max-width: 98vw; }\n      .main-card { margin: 14px 0; padding: 19px 4vw 24px 4vw; }\n      .brand-logo img { height: 39px; }\n      .brand-logo { min-width: 128px; min-height: 43px; padding: 8px 14px; }\n      .main-btn { font-size: 1em; padding: 12px 0; }\n    }\n  </style>\n  <style>\n  /* Personaliza o popup */\n    .swal2-popup {\n      font-family: 'Inter', Arial, sans-serif !important;\n      border-radius: 24px !important;\n      box-shadow: 0 8px 32px rgba(60,72,100,0.13), 0 1.5px 8px rgba(60,72,100,0.09) !important;\n      background: var(--header-bg, #fff) !important;\n      padding-bottom: 34px !important;\n    }\n    \n    /* Título e texto */\n    .swal2-title {\n      color: var(--title-color, #185a9d) !important;\n      font-weight: 700 !important;\n      font-size: 1.62rem !important;\n      margin-top: 18px;\n    }\n    \n    .swal2-html-container {\n      color: var(--subtitle-color, #586174) !important;\n      font-size: 1.13rem !important;\n      margin-top: 6px;\n    }\n    \n    /* Ícone */\n    .swal2-icon.swal2-error {\n      border-color: #e94242 !important;\n      color: #e94242 !important;\n    }\n    \n    .swal2-icon.swal2-success {\n      border-color: #20c787 !important;\n      color: #20c787 !important;\n    }\n    \n    .swal2-icon {\n      margin-top: 22px;\n    }\n    \n    /* Botão OK */\n    .swal2-confirm {\n      border-radius: 11px !important;\n      font-family: 'Inter', Arial, sans-serif !important;\n      font-size: 1.07rem !important;\n      background: linear-gradient(90deg, #43cea2 0%, #185a9d 100%) !important;\n      color: #fff !important;\n      font-weight: 700 !important;\n      box-shadow: 0 2px 10px rgba(67,206,162,0.09);\n      border: none !important;\n      padding: 13px 34px !important;\n      margin-top: 8px !important;\n      transition: background 0.2s;\n    }\n    .swal2-confirm:focus, .swal2-confirm:hover {\n      background: linear-gradient(90deg, #185a9d 0%, #43cea2 100%) !important;\n    }\n    \n    /* Remove botão de foco azul feio */\n    .swal2-confirm:focus { box-shadow: none !important; }\n    \n    /* Responsividade extra */\n    @media (max-width: 480px) {\n      .swal2-popup {\n        padding: 10px 0 20px 0 !important;\n        border-radius: 16px !important;\n      }\n      .swal2-title {\n        font-size: 1.14rem !important;\n      }\n    }\n  </style>\n  <link href=\"https://fonts.googleapis.com/css?family=Pacifico&display=swap\" rel=\"stylesheet\">\n</head>\n<body>\n  <div class=\"header-app\">\n    <div class=\"header-left\">\n      <div class=\"logo-app\">\n        <img src=\"{{ $json.iconUrl }}\" alt=\"Logo App\">\n      </div>\n      <div class=\"header-titles\">\n        <span class=\"app-title\">{{ $json.displayName }}</span>\n        <span class=\"app-subtitle\">Autorização de Integração</span>\n      </div>\n    </div>\n    <div class=\"header-actions\">\n      <button class=\"action-btn\" title=\"Configurações\" onclick=\"openModal()\">\n        <span>⚙️</span>\n      </button>\n      <button class=\"action-btn\" title=\"Copiar\" onclick=\"onCopy()\">\n        <span>📋</span>\n      </button>\n      <button class=\"action-btn\" title=\"Alternar tema\" id=\"btn-theme\">\n        <span id=\"theme-icon\">🌙</span>\n      </button>\n    </div>\n  </div>\n\n  <div class=\"main-card\">\n    <div class=\"brand-logo\">\n      <img src=\"{{ $json.logoUrl }}\" alt=\"Cyborg Logo\">\n    </div>\n    <div class=\"main-title\">Autorizar Acesso à {{ $json.displayName }}</div>\n    <div class=\"main-desc\">\n      Para ativar esta integração com <strong>{{ $json.displayName }}</strong>, precisamos da sua autorização.<br>\n      É rápido, seguro e você pode revogar quando quiser.\n    </div>\n    <div id=\"mainAlert\" class=\"main-alert none\"></div>\n    <button class=\"main-btn\" onclick=\"onAuthorize()\">\n      Autorizar\n    </button>\n  </div>\n\n  <!-- Modal de Configurações -->\n  <div class=\"modal-bg\" id=\"modalSettings\">\n    <div class=\"modal-content\">\n      <form onsubmit=\"event.preventDefault(); saveState();\">\n        <label for=\"inputState\">Valor do <b>state</b> (identificação):</label>\n        <input type=\"text\" id=\"inputState\" value=\"\">\n        <div class=\"modal-actions\">\n          <button type=\"button\" onclick=\"closeModal()\">Cancelar</button>\n          <button type=\"submit\">Salvar</button>\n        </div>\n      </form>\n    </div>\n  </div>\n\n  <script>\n    // Valores dinâmicos (substitua para sua stack)\n    const CLIENT_ID = '{{ $(\"SAVE TOKEN INFO\").item.json.client_id }}';\n    const REDIRECT_URI = '{{ $(\"SAVE TOKEN INFO\").item.json.redirect_uri }}';\n    const SCOPES = '{{ $(\"SAVE TOKEN INFO\").item.json.scopes }} https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';\n    const AUTH_URL = 'https://accounts.google.com/o/oauth2/v2/auth';\n    let state = '{{ $(\"SAVE TOKEN INFO\").item.json.business_name }}';\n\n    // Modal de Configurações\n    function openModal() {\n      document.getElementById('inputState').value = state;\n      document.getElementById('modalSettings').classList.add('active');\n      setTimeout(() => { document.getElementById('inputState').focus(); }, 200);\n    }\n    function closeModal() {\n      document.getElementById('modalSettings').classList.remove('active');\n    }\n    function saveState() {\n      state = document.getElementById('inputState').value.trim();\n      closeModal();\n    }\n\n    // Tema\n    let theme = localStorage.getItem('theme') || 'light';\n    setTheme(theme);\n\n    function setTheme(t) {\n      document.documentElement.setAttribute('data-theme', t);\n      localStorage.setItem('theme', t);\n      document.getElementById('theme-icon').innerText = t === 'dark' ? '☀️' : '🌙';\n    }\n\n    document.getElementById('btn-theme').addEventListener('click', function() {\n      theme = theme === 'light' ? 'dark' : 'light';\n      setTheme(theme);\n    });\n\n    function onCopy() {\n      localStorage.setItem('oauth_state', state);\n      const authUrlCopy = `${AUTH_URL}?` +\n        `client_id=${CLIENT_ID}&` +\n        `redirect_uri=${encodeURIComponent(REDIRECT_URI)}&` +\n        `response_type=code&` +\n        `scope=${encodeURIComponent(SCOPES)}&` +\n        `access_type=offline&` +\n        `prompt=consent&` +\n        `state=${encodeURIComponent(state)}`;\n      navigator.clipboard.writeText(authUrlCopy)\n        .then(() => alert('Texto copiado!'))\n        .catch(() => alert('Não foi possível copiar!'));\n    }\n    function onAuthorize() {\n      localStorage.setItem('oauth_state', state);\n      const authUrl = `${AUTH_URL}?` +\n        `client_id=${CLIENT_ID}&` +\n        `redirect_uri=${encodeURIComponent(REDIRECT_URI)}&` +\n        `response_type=code&` +\n        `scope=${encodeURIComponent(SCOPES)}&` +\n        `access_type=offline&` +\n        `prompt=consent&` +\n        `state=${encodeURIComponent(state)}`;\n      window.location.href = authUrl;\n    }\n  </script>\n  <script>\n  const returnStatus = '{{ $json.returnStatus.code }}'; // verify, sucess, error\n  const statusMessage = {\n    sucess: {\n      title: 'Sucesso!',\n      text: '{{ $json.returnStatus.message }}',\n      icon: 'success',\n      showConfirmButton: false,\n      timer: 3200\n    },\n    error: {\n      title: 'Erro!',\n      text: '{{ $json.returnStatus.message }}',\n      icon: 'error'\n    }\n    // Você pode adicionar mais cases se precisar\n  };\n\n  if (returnStatus === 'sucess' || returnStatus === 'error') {\n    Swal.fire(statusMessage[returnStatus]);\n    // Esconde o botão\n    document.addEventListener('DOMContentLoaded', () => {\n      const btn = document.querySelector('.main-btn');\n      if (btn) btn.style.display = 'none';\n    });\n  }\n</script>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1420,
        400
      ],
      "id": "3e3e4adc-f50b-4595-af74-b2bbc351276d",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1660,
        400
      ],
      "id": "082234cb-1c38-4d96-95e8-b5fc27372808",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bb6f19b-63ae-47bd-9f59-00535ba7ccce",
              "name": "client_id",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.client_id;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.client_id;\n})()}}",
              "type": "string"
            },
            {
              "id": "ab0f8879-28b5-4d2d-958f-2e1f217c7472",
              "name": "client_secret",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.client_secret;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.client_secret;\n})()}}",
              "type": "string"
            },
            {
              "id": "5c19d109-ecd1-46e9-9a76-f019811b78e7",
              "name": "code",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return null;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.code;\n})()}}",
              "type": "string"
            },
            {
              "id": "6393fd69-6598-4fb9-b699-06ad4a1182ce",
              "name": "grant_type",
              "value": "authorization_code",
              "type": "string"
            },
            {
              "id": "25d0934e-205f-4a43-880f-14724d2251a3",
              "name": "redirect_uri",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.redirect_uri;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.redirect_uri;\n})()}}",
              "type": "string"
            },
            {
              "id": "ce92a223-6731-482a-8736-a1d16fd0bdfd",
              "name": "business_name",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.business_name;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.business_name;\n})()}}",
              "type": "string"
            },
            {
              "id": "e1cab414-4e6c-4de2-8352-bba3143907dc",
              "name": "scopes",
              "value": "={{(() => {\n  let type;\n  if ($('CONFIG_GET').isExecuted) {\n    type = $('CONFIG_GET').item.json?.type_scope;\n  } else {\n    type = $('CONFIG_AUTORIZE_TOKEN').last().json.schemaType;\n  }\n  if (type === \"googleContactsOAuth2Api\") return \"https://www.googleapis.com/auth/contacts\";\n  if (type === \"googleCalendarOAuth2Api\") return \"https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events\";\n  return \"invalid_scope\";\n})()}}",
              "type": "string"
            },
            {
              "id": "397f695a-f9b0-4b65-a042-0e9da10383c3",
              "name": "typeScope",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.type_scope;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').last().json.schemaType;\n})()}}",
              "type": "string"
            },
            {
              "id": "ed31548d-86a5-4b9b-915a-1984c4a4ae3e",
              "name": "status",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.status;\n  }\n  return $json.status;\n})()}}",
              "type": "object"
            },
            {
              "id": "a1cf16cd-3bb8-4922-831c-90425f29138b",
              "name": "n8n_domain",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.n8n_domain;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.n8n_domain;\n})()}}",
              "type": "string"
            },
            {
              "id": "ec248719-da60-4a8c-a734-dae7e5e564e8",
              "name": "businessLogo",
              "value": "={{(() => {\n  if ($('CONFIG_GET').isExecuted) {\n    return $('CONFIG_GET').item.json?.business_logo;\n  }\n  return $('CONFIG_AUTORIZE_TOKEN').item.json.business_logo;\n})()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        100
      ],
      "id": "3d9c3cf3-c461-4b1f-be1d-be6df366c34f",
      "name": "SAVE TOKEN INFO"
    },
    {
      "parameters": {
        "path": "auth-token",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1300,
        -20
      ],
      "id": "309d67d1-8833-4a57-b498-3ff74e01c8c5",
      "name": "AUTORIZE TOKEN",
      "webhookId": "5042da8e-bf69-4e22-bdf2-1cebe8820e03"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.client_secret }}"
            },
            {
              "name": "code",
              "value": "={{ $json.code }}"
            },
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $json.redirect_uri }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -20
      ],
      "id": "7b6ffaa2-553c-444a-adb3-cd2da2bc1ed0",
      "name": "GET TOKEN CODE"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/oauth2/v3/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -20
      ],
      "id": "ae61abd1-6ffa-4184-aa47-4166e5379b1b",
      "name": "GET USER INFO"
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "53d3883f-71de-4d93-8394-b4f25147840c",
      "name": "OBTER CREDENCIAIS",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        20,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n    // Return the parsed object directly\n    return jsonObject;\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Return everything as a single output object\nreturn [\n  {\n    json: {\n      data: beautifiedJson // Aqui você tem o array inteiro em uma única saída\n    }\n  }\n];\n"
      },
      "id": "90d7dbe2-1921-46cb-8681-f0bd94a1f11f",
      "name": "TRATAR CREDENCIAIS",
      "type": "n8n-nodes-base.code",
      "position": [
        240,
        -140
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const dataArray = $json.data;\nconst refreshToken = $('GET TOKEN CODE').item.json.refresh_token;\nconst accessToken = $('GET TOKEN CODE').item.json.access_token;\n\n// Procura o primeiro objeto que contenha o token\nconst found = dataArray.find(entry => {\n  const str = JSON.stringify(entry);\n  return (\n    (typeof refreshToken === 'string' && str.includes(refreshToken)) ||\n    (typeof accessToken === 'string' && str.includes(accessToken))\n  );\n});\n\n// Retorna o resultado conforme encontrado\nif (found) {\n  return [\n    {\n      json: {\n        existeToken: true,\n        name: found.name,\n        id: found.id\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        existeToken: false\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -140
      ],
      "id": "a3eb8cf5-5ff1-4e3a-ba3f-ef67614d5153",
      "name": "VERIFICAR SE JÁ EXISTE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        -440
      ],
      "id": "3dd052ff-8a2f-488c-9a6a-908ea3845e70",
      "name": "SAVE WEBHOOK"
    },
    {
      "parameters": {
        "url": "={{ $json.n8n_domain }}/types/credentials.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        400
      ],
      "id": "6347aeef-4286-4c3b-b58b-16b58a484afe",
      "name": "OBTER ICONES",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        980,
        400
      ],
      "id": "039697dc-f810-4c06-88f8-22d559b3f2ab",
      "name": "EXTRAIR ARQUIVO"
    },
    {
      "parameters": {
        "jsCode": "// Pega o array de credenciais da entrada atual (provavelmente 'Extract from File')\nconst data = $input.first().json.data || $input.first().json;\n\n// Busca o nome/typeScope vindo do node \"SAVE TOKEN INFO\"\nconst typeScope = $('SAVE TOKEN INFO').first().json.typeScope;\n\n// Procura a credencial com esse nome\nconst cred = data.find(item => item.name === typeScope);\n\n// Busca o iconUrl correto\nlet iconUrl = '';\nlet displayName = cred.displayName;\nif (cred) {\n    if (typeof cred.iconUrl === 'string') {\n        iconUrl = cred.iconUrl;\n    } else if (cred.iconUrl && typeof cred.iconUrl === 'object') {\n        iconUrl = cred.iconUrl.light || cred.iconUrl.dark || '';\n    }\n    // Completa URL se não começar com http\n    if (iconUrl && !iconUrl.startsWith('http')) {\n        iconUrl = $('SAVE TOKEN INFO').first().json.n8n_domain +'/' + iconUrl;\n    }\n}\n\n// Retorna só o icone e o typeScope\nreturn [\n  {\n    json: {\n      logoUrl: $('SAVE TOKEN INFO').first().json.businessLogo,\n      iconUrl,\n      displayName,\n      typeScope,\n      returnStatus: Object($('SAVE TOKEN INFO').first().json.status)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "id": "c8793c6d-9db4-4086-bc72-531df7220333",
      "name": "TRATAR ICONES"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        -440
      ],
      "id": "21057837-ba93-4317-a0f8-bac116508c75",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        -20
      ],
      "id": "0ecfa904-701e-44aa-84df-b871bd2d4bb3",
      "name": "SAVE WEBHOOK TOKEN"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8777102-a4fd-4384-8259-a0b38c2439e6",
              "name": "status.code",
              "value": "sucess",
              "type": "string"
            },
            {
              "id": "f89bd349-bbcc-4b45-a902-e5a69e6e2533",
              "name": "status.message",
              "value": "Integração realizada com sucesso!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -100
      ],
      "id": "6da7d221-8821-4749-a275-6053fbdf709e",
      "name": "ATUALIZA SUCESSO DA CRIAÇÃO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8777102-a4fd-4384-8259-a0b38c2439e6",
              "name": "status.code",
              "value": "error",
              "type": "string"
            },
            {
              "id": "b61829a0-28e1-4b9a-98e7-9c93555886d9",
              "name": "status.message",
              "value": "Falha na integração. Tente novamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        100
      ],
      "id": "f24b15d6-22ba-42a3-a6bb-6ff22a9e2ffc",
      "name": "ATUALIZA ERRO DA CRIAÇÃO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8777102-a4fd-4384-8259-a0b38c2439e6",
              "name": "status.code",
              "value": "error",
              "type": "string"
            },
            {
              "id": "b61829a0-28e1-4b9a-98e7-9c93555886d9",
              "name": "status.message",
              "value": "Falha na integração. Tente novamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -280
      ],
      "id": "c682b963-88f8-435d-8442-7e79c8111958",
      "name": "ATUALIZA CREDENCIAL EXISTE"
    },
    {
      "parameters": {
        "content": "##### EDITAR CONFIGURAÇÕES",
        "height": 240,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -920,
        -500
      ],
      "typeVersion": 1,
      "id": "f4a5d7d1-6715-43c5-bc12-5b5ee7caa87e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "###### EDITAR CONFIGURAÇÕES",
        "height": 240,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -920,
        -80
      ],
      "typeVersion": 1,
      "id": "a94f4881-0104-49f4-992b-9568129016d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Quer entender como funciona esse workflow?\n#### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n****\n[![Crie Páginas de Login para Credencias do Google no N8N em Segundos! | Cyborg Solutions](https://i.imgur.com/xhcXqd8.png)](https://youtu.be/pfEr-U6bq10)\n****",
        "height": 440,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1880,
        -1020
      ],
      "id": "8a99625d-deca-4c14-8c67-82ab718259e0",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "### Pré-requisitos do workflow\n1. **Instância n8n funcionando**  \n   Pode ser self-hosted ou em nuvem, com acesso ao painel de credenciais.\n\n2. **Credenciais OAuth2 do Google**  \n   Crie um projeto no [Google Cloud Console](https://console.cloud.google.com/), registre um OAuth Client ID (tipo Web Application), e configure o `client_id` e `client_secret` nos nodes do workflow.\n\n3. **URL pública acessível para Webhook**  \n   O n8n precisa estar acessível externamente para receber o callback do Google (campo `redirect_uri`).  \n   Exemplo: `https://seu-n8n.com/webhook/auth-token`\n\n4. **Acesso à collection de credenciais do n8n**  \n   Para criar e consultar credenciais dinamicamente, o workflow precisa permissão de API (`n8nApi`) configurada com token de acesso/admin.\n\n---\n\n**Importante:**  \nSe usar outras integrações além do Google (ex: integração com Evolution API, Supabase, IA etc), será necessário adicionar as credenciais e configurar os respectivos nodes conforme a necessidade.\n\n",
        "height": 340,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2700,
        -160
      ],
      "id": "348d8237-f1ab-46ad-ac36-69cf8adda09b",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd26c818-fd73-421b-8395-aa5a7b555696",
              "name": "n8n_domain",
              "value": "",
              "type": "string"
            },
            {
              "id": "d1e223de-c116-40c5-ac82-b44bd1309dcd",
              "name": "redirect_uri",
              "value": "=https://{{ $json.headers.host }}/webhook/{{ $('AUTORIZE TOKEN').params.path }}",
              "type": "string"
            },
            {
              "id": "ee3986cf-499a-4c00-9359-a51e64c8b4e5",
              "name": "business_logo",
              "value": "https://i.imgur.com/g5GGegb.png",
              "type": "string"
            },
            {
              "id": "34ff54a5-9dc0-4b55-b10e-484c87e1de7d",
              "name": "client_id",
              "value": "=",
              "type": "string"
            },
            {
              "id": "74f3ce06-c7be-4a93-80b1-66eaa50fa39d",
              "name": "client_secret",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f232cd95-278d-42a6-899f-e6ee3aac48f9",
              "name": "business_name",
              "value": "={{ $json.params.business_name }}",
              "type": "string"
            },
            {
              "id": "d339e8e3-4543-4e20-a20c-1d121db5a490",
              "name": "type_scope",
              "value": "={{ $json.params.type_scope }}",
              "type": "string"
            },
            {
              "id": "297394c3-9a85-4d4f-82b3-1749f5865278",
              "name": "status.code",
              "value": "={{ $json.params.status }}",
              "type": "string"
            },
            {
              "id": "67960d06-85cd-4548-a196-5d521d3a17d2",
              "name": "status.message",
              "value": "={{ null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        -440
      ],
      "id": "2b49d7a8-2565-4ab4-a650-f29220b84e26",
      "name": "CONFIG_GET"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd26c818-fd73-421b-8395-aa5a7b555696",
              "name": "n8n_domain",
              "value": "",
              "type": "string"
            },
            {
              "id": "d1e223de-c116-40c5-ac82-b44bd1309dcd",
              "name": "redirect_uri",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            },
            {
              "id": "ee3986cf-499a-4c00-9359-a51e64c8b4e5",
              "name": "business_logo",
              "value": "https://i.imgur.com/g5GGegb.png",
              "type": "string"
            },
            {
              "id": "34ff54a5-9dc0-4b55-b10e-484c87e1de7d",
              "name": "client_id",
              "value": "=",
              "type": "string"
            },
            {
              "id": "74f3ce06-c7be-4a93-80b1-66eaa50fa39d",
              "name": "client_secret",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f232cd95-278d-42a6-899f-e6ee3aac48f9",
              "name": "business_name",
              "value": "={{ $json.query.state }}",
              "type": "string"
            },
            {
              "id": "d339e8e3-4543-4e20-a20c-1d121db5a490",
              "name": "type_scope",
              "value": "={{ $json.query.scope }}",
              "type": "string"
            },
            {
              "id": "297394c3-9a85-4d4f-82b3-1749f5865278",
              "name": "status",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "7e620ca3-fe5a-414b-825d-2dfefa06c36a",
              "name": "code",
              "value": "={{ $json.query.code }}",
              "type": "string"
            },
            {
              "id": "6c328d12-14bf-43f6-b0e8-e1de46df8ba1",
              "name": "checkDuplicateCredential",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "64dd0924-41fb-4daf-8d7e-57742e43b138",
              "name": "schemaType",
              "value": "={{(() => { \n  const scope = $json.query.scope || ''; \n  if (scope.includes('contact')) return 'googleContactsOAuth2Api'; \n  if (scope.includes('calendar')) return 'googleCalendarOAuth2Api';\n  return ''; \n})()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        -20
      ],
      "id": "103ec5ff-0be5-4918-b549-d107151f03f1",
      "name": "CONFIG_AUTORIZE_TOKEN"
    },
    {
      "parameters": {
        "content": "### CONFIGURAÇÕES E CREDENCIAIS",
        "height": 760,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -560
      ],
      "id": "70c551ce-1334-4727-8c7a-2f3a63e12c84",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69988ac3-50c9-4593-806a-e1496bd4da35",
              "leftValue": "={{ $('CONFIG_AUTORIZE_TOKEN').item.json.checkDuplicateCredential }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        -20
      ],
      "id": "728202e7-e79e-4253-9366-4c03cfc7e7fd",
      "name": "DEVE CHECAR SE A CREDENCIAL EXISTE?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.existeToken }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "0cb570d1-4e5c-4955-b34b-668d721caa26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXISTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ae074cb-c837-42df-9c67-cd75fb46d8b5",
                    "leftValue": "={{ $json.existeToken }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NÃO EXISTE"
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        -140
      ],
      "id": "faebf800-e59a-4305-92be-f7c88e1afd6b",
      "name": "ROTEAMENTO CASO EXISTA"
    },
    {
      "parameters": {
        "resource": "credential",
        "name": "={{ $('CONFIG_AUTORIZE_TOKEN').item.json.business_name }} ({{ $('GET USER INFO').item.json.name }} - {{ $('GET USER INFO').item.json.email }})",
        "credentialTypeName": "={{ $('CONFIG_AUTORIZE_TOKEN').last().json.schemaType }}",
        "data": "={\n  \"clientId\": \"{{ $('CONFIG_AUTORIZE_TOKEN').last().json.client_id }}\",\n  \"clientSecret\": \"{{ $('CONFIG_AUTORIZE_TOKEN').last().json.client_secret }}\",\n  \"oauthTokenData\": \n  {\n    \"access_token\": \"{{ $('GET TOKEN CODE').last().json.access_token }}\",\n    \"expires_in\": {{ $('GET TOKEN CODE').item.json.expires_in }},\n    \"refresh_token\": \"{{ $('GET TOKEN CODE').last().json.refresh_token }}\",\n    \"scope\": \"{{ $('GET TOKEN CODE').item.json.scope }}\",\n    \"token_type\": \"{{ $('GET TOKEN CODE').item.json.token_type }}\",\n    \"callbackQueryString\": \n    {\n      \"scope\": \"{{ $('GET TOKEN CODE').item.json.scope.split(' ').filter(p => p.startsWith('http')).join(' ') }}\"\n    }\n  }\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "id": "ba1129a1-7236-48f8-86ba-faf4e45fb140",
      "name": "CRIAR CREDENCIAL",
      "retryOnFail": false,
      "credentials": {
        "n8nApi": {
          "id": "eWT66pyi7NU9bdN0",
          "name": "CS-PROD-01"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### OBTER ICONES PARA O HTML",
        "height": 280,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        320
      ],
      "id": "fbc48ca7-33b6-4d69-a2f4-eedd6645b257",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "### CRIAÇÃO DA PÁGINA HTML",
        "height": 280,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        320
      ],
      "id": "a17bb3b4-98a1-455f-adbf-e06270713f26",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### TRATAMENTO DE STATUS (SUCESSO, ERRO, ESCOPO INVÁLIDO)\n\nLembre-se de não alterar o valor de `code.status`, o campo `code.message` pode ser alterado e será exibido dentro do HTML.",
        "height": 960,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -680
      ],
      "id": "ff758edc-92a9-4650-97ca-d60921a49308",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "#### CONFIG_GET e CONFIG_AUTORIZE_TOKEN\n---\n- **n8n_domain:**  \n  Coloque aqui a URL do seu ambiente N8N (editor)\n\n- **redirect_uri:**  \n  É a URL para onde o usuário será redirecionado.\n\n- **business_logo:**  \n  A URL da imagem do logo da sua empresa ou negócio.  \n\n- **client_id:**  \n  O ID do cliente do seu app cadastrado na Google.\n\n- **client_secret:**  \n  O segredo do cliente do seu app cadastrado na Google.  \n\n- **business_name:**  \n  O nome do negócio ou empresa que será autenticado.\n\n- **type_scope:**\n  Define o tipo de acesso (escopo) solicitado na autenticação.\n\n- **status:**  \n  Representa o status do processo (por exemplo: verify, sucess, error, invalid_scope).\n\n- **code:**  \n  O código de autorização retornado pelo provedor OAuth.\n\n- **checkDuplicateCredential:**  \n  Define se o fluxo deve checar por credenciais duplicadas antes de prosseguir. Geralmente configurado como `true` para evitar credenciais repetidas.",
        "height": 680,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2700,
        200
      ],
      "id": "7d5cfa74-2b2a-499a-ac70-3481132f772a",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "### Como testar permissões do Google Calendar e Google Contacts no seu fluxo OAuth\n\nApós importar e configurar o workflow de OAuth Google, siga estes passos para testar se os escopos de permissão do Google Calendar e Google Contacts estão corretos:\n\n#### Possíveis erros\n- Se der erro de permissão (status 403 ou mensagem de “insufficient permissions”), revise o campo `scopes` no node “SAVE TOKEN INFO” do seu workflow, e confira se está incluindo:\n    - Para Calendar: `https://www.googleapis.com/auth/calendar`\n    - Para Contacts: `https://www.googleapis.com/auth/contacts`\n- Refaça a autorização se alterar os escopos.\n\n---\n\n**Dica:**  \nVocê pode adicionar nodes Set ou Function logo após obter o token, para testar automaticamente cada permissão e exibir uma mensagem amigável na resposta ao usuário.",
        "height": 440,
        "width": 620,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        620
      ],
      "id": "503e3407-a009-4663-9ca3-4a4fd283b920",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        620
      ],
      "typeVersion": 1,
      "id": "a5f349a0-52a2-418b-9dc9-18dcc2a45689",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "cyborgsolutions.automate@gmail.com",
          "mode": "list",
          "cachedResultName": "cyborgsolutions.automate@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1420,
        680
      ],
      "id": "38256b2a-36eb-4f24-b781-825d78c7ebdd",
      "name": "Testar Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UtScgurWt1e1zKzz",
          "name": "Cyborg Telecom (Ricardo Santos - cyborgsolutions.automate@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "fields": [
          "*"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        1420,
        900
      ],
      "id": "dfbbb81c-cedc-429b-b207-322eeb3703a4",
      "name": "Testar Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "EgZxeqrBl3L4vfQC",
          "name": "Cyborg Telecom (Ricardo Santos - cyborgsolutions.automate@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://hpanel.hostinger.com/assets/images/logos/hostinger-white.svg)](https://nanolink.site/Hostinger20off)\n",
        "height": 80,
        "width": 180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2300,
        -460
      ],
      "id": "c908e023-8b9c-4dd0-9d2b-459127f7e385",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "### INDICAÇÃO DE SERVIÇO (HOSTINGER)\n\n## [Clique aqui para criar sua conta](https://nanolink.site/Hostinger20off)\n### Adquirir VPS\n1. VPS KVM 2 (Escolha o plano que preferir)\n1. Selecionar opção de \"OS sem Painel\"\n1. Criar senha root segura\n1. Aguardar configuração (~10m)",
        "height": 320,
        "width": 600,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2700,
        -500
      ],
      "id": "0505bebe-07e4-4734-8d38-222eea253ed3",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## INFORMAÇÕES IMPORTANTES",
        "height": 1460,
        "width": 1340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2720,
        -560
      ],
      "id": "e33ef066-e618-47b8-a94c-b2ffecd008c3",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "### Tutorial de configuração do aplicativo OAuth Google (Calendar/Contacts)\nSe você já configurou o fluxo no n8n, o próximo passo é criar o aplicativo OAuth no Google Cloud. É isso que vai permitir conectar Google Calendar e Google Contacts com segurança.\n\n[![Google Cloud](https://img.shields.io/badge/google%20cloud-%234285F4.svg?style=for-the-badge\\&logo=google-cloud\\&logoColor=white\\&label)](https://console.cloud.google.com/apis/credentials)\n\n### Siga as instruções abaixo:\n#### 1. Crie um projeto no Google Cloud\n1. Acesse o [Google Cloud Console](https://console.cloud.google.com/apis/dashboard).\n2. No topo da tela, clique em **Selecionar projeto**.\n3. Clique em **Novo Projeto**, escolha um nome (ex: \"n8n OAuth\"), e clique em **Criar**.\n---\n\n#### 2. Ative as APIs necessárias\n1. Com o projeto selecionado, no menu lateral clique em **APIs e serviços > Biblioteca**.\n2. Procure por **Google Calendar API** e clique em **Ativar**.\n3. Procure por **People API** (para Google Contacts) e clique em **Ativar**.\n---\n\n#### 3. Crie as credenciais OAuth 2.0\n1. No menu lateral, clique em **APIs e serviços > Credenciais**.\n2. Clique em **+ Criar credenciais** e escolha **ID do cliente OAuth**.\n3. Escolha o tipo **Aplicativo da Web**.\n4. Dê um nome, como “n8n OAuth”.\n5. Em **URIs autorizados de redirecionamento**, adicione a URL do seu webhook n8n de autorização, por exemplo:\n\n   ```\n   https://seu-n8n.com/webhook/auth-token\n   ```\n6. Clique em **Criar**.\n7. O Google vai mostrar seu **Client ID** e **Client Secret**. **Copie e guarde** (você vai precisar na configuração do n8n).\n---\n\n#### 4. Ajuste o consentimento OAuth\n1. Ainda em **APIs e serviços > Credenciais**, clique em **Tela de consentimento OAuth**.\n2. Selecione **Externo** para permitir qualquer conta Google.\n3. Complete as informações obrigatórias: Nome do app, email de suporte, logotipo (opcional).\n4. Em **Escopos**, adicione:\n   * `https://www.googleapis.com/auth/calendar`\n   * `https://www.googleapis.com/auth/contacts`\n   * (E qualquer outro escopo que desejar, conforme o fluxo)\n5. Adicione ao menos 1 email de teste (pode ser o seu).\n6. Salve e publique.\n---\n\n#### 5. Configurar as credenciais no n8n\n1. No n8n, abra o node de configuração das credenciais (normalmente um node Set chamado `CONFIG_GET` ou similar).\n2. Cole o **Client ID** e **Client Secret** nos campos correspondentes.\n3. No campo `redirect_uri`, coloque exatamente o mesmo valor que cadastrou no Google (ex: `https://seu-n8n.com/webhook/auth-token`).\n4. Preencha `business_logo`, `business_name`, `type_scope`, etc., conforme seu fluxo pede.\n5. Salve a credencial.\n---\n\n#### 6. Testar a integração\n1. Siga o passo a passo do seu fluxo OAuth para autenticar com sua conta Google.\n2. O Google deve exibir as permissões de acesso ao Calendar e Contacts conforme configurado.\n3. Se a integração for bem-sucedida, sua credencial estará pronta para uso!\n\n---\n\n**Dica**\nSempre use HTTPS no seu domínio n8n para evitar problemas com o Google.\nSe tiver dúvidas, consulte a [documentação oficial do Google](https://console.cloud.google.com/apis/credentials) ou peça ajuda na comunidade n8n.\n",
        "height": 1380,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        -500
      ],
      "typeVersion": 1,
      "id": "fb7f6bc1-0e72-41d1-a026-d423c922555c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "![Chatwoot](https://cdn.worldvectorlogo.com/logos/google-developers.svg)",
        "height": 100,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -400
      ],
      "id": "5890a6c0-06d9-45a3-b923-9fbe1096629c",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "[![cyborgsolutions.com.br](https://i.imgur.com/p2oKaUd.png)](https://cyborgsolutions.com.br?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=evo-1)",
        "height": 120,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2620,
        -920
      ],
      "typeVersion": 1,
      "id": "781d04be-61cd-4bd9-b482-07e7f611e142",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1300,
        400
      ],
      "id": "3092e92d-654d-4704-8bcb-422a186ef623",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "### ENVIO DO HTML PARA O NAVEGADOR",
        "height": 280,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        320
      ],
      "id": "94f0dd27-be7e-464f-be25-773caed6774b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "[![GitHub Org's stars](https://img.shields.io/github/stars/Cyborg-Solutions?style=for-the-badge&logo=github&logoColor=white&logoSize=auto&label=Cyborg-Solutions)](https://github.com/Cyborg-Solutions)\n**Dê uma estrela** na nossa organização ⭐\nCompartilhe sugestões ou correções via [Issues](https://github.com/Cyborg-Solutions) ou [WhatsApp](https://wa.me/5521983638327)\n****\n[![YouTube Cyborg Solutions](https://img.shields.io/youtube/channel/subscribers/UCpT5QCpz9PcT8872ajaZaPQ?style=for-the-badge&logo=youtube&logoSize=auto&label=Inscreva-se&color=f00)](?sub_confirmation=1)\nInscreva-se no [canal do YouTube](?sub_confirmation=1) para tutoriais, dicas de N8N, IA e automações\n****\n[![WhatsApp](https://img.shields.io/badge/WhatsApp-+55%2021%2098363--8327-25d366?style=for-the-badge&logo=whatsapp&logoColor=white)](https://wa.me/5521983638327)\n_Tire dúvidas, peça orçamentos, envie sugestões ou participe da nossa comunidade!_\n****\n[![Instagram](https://img.shields.io/badge/Instagram-%40cyborg.solutions-23E4405F?style=for-the-badge&logo=instagram&logoColor=white&color=e4405f)](https://www.instagram.com/cyborg.solutions)\nSiga a gente no Instagram e fique por dentro de todas as novidades",
        "height": 440,
        "width": 430,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2320,
        -1020
      ],
      "id": "5fc233d7-71b6-45b0-a4d1-f128ee4c14c7",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "#### **🚀 Workflow Open Source \"Faça Você Mesmo\"**\n##### Cyborg Solutions: Automação, Inteligência Artificial e Integrações\n\n\n\n\n\n\n\n\n\n\n\n\n\nBem-vindo ao workflow desenvolvido pela Cyborg Solutions. Somos especialistas em automações, integrações com APIs, Google, WhatsApp, e ferramentas de Inteligência Artificial!  \n\nEste é o seu ponto de partida para criar fluxos de automação de forma **rápida, gratuita** e fácil, aproveitando o poder do N8N, do YouTube, IA generativa e APIs modernas.\n",
        "height": 440,
        "width": 390,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2720,
        -1020
      ],
      "id": "8de25d03-7f8c-4e95-b2e2-a96822711f19",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "**ATENÇÃO:** AO CLICAR NA IMAGEM ACIMA VOCÊ SERÁ REDIRECIONADO PARA UM LINK DE AFILIADO E VOCÊ RECEBERÁ 20% OFF NO PLANO ANUAL (CASO AINDA NÃO SEJA CLIENTE OU UTILIZE UM NOVO EMAIL)",
        "height": 80,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2700,
        -260
      ],
      "typeVersion": 1,
      "id": "c7548aa7-b032-4f05-846f-ef9d9cc67646",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5aefb19b-d06f-4e13-a561-3210fb2aa4a9",
              "name": "message",
              "value": "=Não foi possível criar a credencial para {{ $('GET USER INFO').item.json.name }} ({{ $('CONFIG_AUTORIZE_TOKEN').item.json.business_name }}) pois já existe uma criada, saiba mais em:\n**Nome da Credencial**: {{ $('VERIFICAR SE JÁ EXISTE').item.json.name }}: {{ $('CONFIG_AUTORIZE_TOKEN').item.json.n8n_domain }}/home/credentials/{{ $('VERIFICAR SE JÁ EXISTE').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -320
      ],
      "id": "1cd7c7fd-b364-41dc-a718-c150a4d404de",
      "name": "SEND MESSAGE ADMIN"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "isabella_cs",
        "remoteJid": "5521983638327",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1060,
        -320
      ],
      "id": "57f61f59-0eef-4be3-b697-f1f7c8719bf7",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "OxDdbF4s0TcujmGI",
          "name": "GERAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SAVE WEBHOOK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE TOKEN INFO": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AUTORIZE TOKEN": {
      "main": [
        [
          {
            "node": "SAVE WEBHOOK TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TOKEN CODE": {
      "main": [
        [
          {
            "node": "GET USER INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET USER INFO": {
      "main": [
        [
          {
            "node": "DEVE CHECAR SE A CREDENCIAL EXISTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OBTER CREDENCIAIS": {
      "main": [
        [
          {
            "node": "TRATAR CREDENCIAIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRATAR CREDENCIAIS": {
      "main": [
        [
          {
            "node": "VERIFICAR SE JÁ EXISTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VERIFICAR SE JÁ EXISTE": {
      "main": [
        [
          {
            "node": "ROTEAMENTO CASO EXISTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE WEBHOOK": {
      "main": [
        [
          {
            "node": "CONFIG_GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OBTER ICONES": {
      "main": [
        [
          {
            "node": "EXTRAIR ARQUIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAIR ARQUIVO": {
      "main": [
        [
          {
            "node": "TRATAR ICONES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRATAR ICONES": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "SAVE TOKEN INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE WEBHOOK TOKEN": {
      "main": [
        [
          {
            "node": "CONFIG_AUTORIZE_TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA SUCESSO DA CRIAÇÃO": {
      "main": [
        [
          {
            "node": "SAVE TOKEN INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA ERRO DA CRIAÇÃO": {
      "main": [
        [
          {
            "node": "SAVE TOKEN INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA CREDENCIAL EXISTE": {
      "main": [
        [
          {
            "node": "SAVE TOKEN INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG_GET": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG_AUTORIZE_TOKEN": {
      "main": [
        [
          {
            "node": "GET TOKEN CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEVE CHECAR SE A CREDENCIAL EXISTE?": {
      "main": [
        [
          {
            "node": "OBTER CREDENCIAIS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRIAR CREDENCIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTEAMENTO CASO EXISTA": {
      "main": [
        [
          {
            "node": "ATUALIZA CREDENCIAL EXISTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRIAR CREDENCIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIAR CREDENCIAL": {
      "main": [
        [
          {
            "node": "ATUALIZA SUCESSO DA CRIAÇÃO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ATUALIZA ERRO DA CRIAÇÃO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testar Google Calendar": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "OBTER ICONES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND MESSAGE ADMIN": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d02fc1fc-3083-44e4-8464-48ab926243d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62367a1b47d37a91d4df7c4c2b2c4f3c4c129410d6edae0ec56201cd0ac05327"
  },
  "id": "svBcc7wPxSECwVyD",
  "tags": [
    {
      "createdAt": "2025-04-04T12:40:01.710Z",
      "updatedAt": "2025-04-04T12:40:01.710Z",
      "id": "W6ozYyX3tdhYgZ8v",
      "name": "N8N v.1.85.4"
    },
    {
      "createdAt": "2025-06-20T13:36:26.652Z",
      "updatedAt": "2025-06-20T13:36:26.652Z",
      "id": "pasdqgerFkNZ0FOL",
      "name": "Google API"
    }
  ]
}
